/**
 * Styling for tables on user->reckonging.
 */

.reckoning-table {
   margin-bottom: 1em;
   min-width: 60%;
   border: 1px solid #bbb;
   border-collapse: collapse;
}
.reckoning-table tbody tr td {
   padding: .5em 1em;
   line-height: 1.4;
}
.reckoning-table tbody tr td:last-child {
   text-align: right;
}
.reckoning-table tbody tr td:first-child {
   text-align: left;
}
.reckoning-table tbody tr:nth-child(3) {
   background-color: #ececec;
}
.reckoning-table tbody tr:nth-child(4) {
   background-color: #ececec;
}

.reckoning-table-all tbody tr:nth-child(even) {
    background-color: #ececec;  
}
.reckoning-table-all tbody tr:nth-child(odd) {
    background-color: #fff;  
}
.reckoning-table-all tbody tr:last-child {
   border-top: 1px solid black;
   background-color: #abc;
}